version: '3.8'

services:
  api:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.prod
    container_name: hntv-api
    ports:
      - "5002:5002"
    environment:
      - ENV=production
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs